<h1 class= "fs-1"> manager MANAGMENT </h1>
<div class = "pb-40"  style="background-image: url('<%= asset_path('background.jpg') %>'); background-size: cover;">
  <hr class= "my-4">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%# <p class="lead" style="display: inline-block">
    Student ID: BC200414501
    Group Id: F23028CB55 (Single)
  </p> %>
</div>