<h1>Editing Customer</h1>
<div  style= "display: inline-block;">
    <%= render "form", friend: @friend %>
</div>


      <%= link_to "Show this Customer", @friend, class: "btn btn-outline-success",style: "display: inline-block;" %> 
      <%= link_to "Back to Customers", friends_path ,class: "btn btn-outline-dark",style: "display: inline-block;" %>

