
<h3 style= "margin-left:35px">Add New Customer</h3>
<%= render "form", friend: @friend %>
<br>
<%= link_to "Back to Customers", friends_path, class: "btn btn-secondary", style:"margin-left:35px; display:inline-block;"%>

