<h1>New order</h1>
<%= render "form", admin_order: @admin_order %>
<br>
<div>
  <%= link_to "Back to orders", admin_orders_path , class: "btn btn-secondary " , style:"margin-left:35px; display:inline-block;"%>
</div>
