<br><br>
<%= image_tag('about_me.jpg', alt: 'About Us Image',style:"max-width: 100%; hight: 200px; width:150px", class: "about_us") %>
<h3><%= @about_me%></h3>
<p>I am a software engineering student at Virtual Universty of Pakistan </p>
<p>This is my test phase application </p>