<div style="background-image: url('<%= asset_path('background.jpg') %>'); background-size: cover;">
<h1>Test Phase Application </h1>

<div class="jumbotron">
  <div class="card-body">
    <h1 class="display-4" style="display: inline-block">
      Asghar Ali 
    </h1>
    
    <p class="lead" style="display: inline-block">
      Student ID: BC200414501
      Group Id: F23028CB55 (Single)
    </p>
    
    <hr class= "my-4">
    <br><br><br><br><br><br><br><br>
    <h4>

        Supervisor Name: Saima Jamil
    </h4>
  </div>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
</div>
