<h1>Final Year Project </h1>
<div class="jumbotron">
  <div class="card-body">
    <h1 class="display-4" style="display: inline-block">
      Asghar Ali
    </h1>
    <p class="lead" style="display: inline-block">
      Student ID: BC200414501
      Group Id: F23028CB55 (Single)
    </p>
    <h3 style="color: #612200;">
      Supervisor Name: Saima Jamil
    </h3>
    <div style="background-image: url('<%= asset_path('background.jpg') %>'); background-size: cover;">
      <hr class= "my-4">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>This is a random text</p>
      <p>This is a random text</p>
      <p>Find me in app/views/home/index.html.erb</p>
      <hr class= "my-4">
    </div>
  </div>
</div>
