<h1>Give Credentials</h1>
<div >
<%= render "cred", member: @member %>
</div>
<div style= "margin-left:35px; margin-top:10px; display:inline-block;">
  <%= link_to "Back (users)", members_path, class: "btn btn-secondary",style: "display: inline-block;"%>
</div>
